@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: "Jost", sans-serif;
}

.sheet {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.basis {
  width: 100%;
  position: relative;
}

.sheet__content {
  position: relative;
  height: 100vh;
  width: 1110px;
  margin: 0 auto;
  margin-top: 92px;
}

@media screen and (max-width: 1200px) {
  .sheet__content {
    width: 100%;
    padding: 0 20px;
    margin-top: 30px;
  }
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

/* main {
  margin-left: 5rem;
  padding: 1rem;
} */

.sheet__navbar {
  position: relative;
  width: 255px;
  /* transition: width 600ms ease; */
  /* overflow: scroll; */
}

.sheet__navbar-element {
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 24px;
  padding: 24px;
}

.logo {
  width: 100%;
  height: 137px;
  background: url("../img/suggestions/desktop/background-header.png") 0 0 /
    cover no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #ffffff;
  font-family: "Jost", sans-serif;
}

.logo h1 {
  font-size: 20px;
  line-height: 39px;
  font-weight: 700;
}

.logo p {
  font-size: 15px;
  opacity: 0.7;
  font-weight: 500;
}

.sheet__navbar-list {
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  height: 171px;
}


.sheet__navbar-item {
  padding: 5px 16px;
  border-radius: 10px;
  background: hsl(231, 100%, 97%);
  color: hsl(230, 76%, 59%);
  align-items: center;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  font-family: "Jost", sans-serif;
  height: fit-content;
  margin: 0px 8px 12px 0px;
}

.sheet__navbar-item:focus {
  background: hsl(230, 76%, 59%);
  color: #ffffff;
}

.roadmap__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 19px 0px;
  font-family: "Jost", sans-serif;
}

.roadmap__header h2 {
  color: rgb(58, 67, 115);
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.roadmap__detailed-information-link {
  color: rgb(71, 97, 230);
  font-weight: bold;
  line-height: 19px;
  font-size: 13px;
  text-decoration: underline;
}

.roadmap__list {
  display: block;
  /* margin-left: -10px; */
  padding-left: 20px;
}

.roadmap__list-item {
  display: block;
  position: relative;

  color: rgb(100, 113, 150);
  line-height: 23px;
  font-size: 16px;
}

.roadmap__list-item:not(:last-child) {
  margin-bottom: 8px;
}

.roadmap__list-item:before {
  content: "";
  position: absolute;
  top: 1.2em;
  left: -20px;
  margin-top: -12px;
  background: #f69ec4;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.roadmap__number-of-feedback {
  position: absolute;
  right: 0px;

  font-weight: 700;
  font-size: 17px;
}

.plannet-item:before {
  background-color: #ffa500;
}

.in-progres-item:before {
  background-color: #b200ed;
}

.live-item:before {
  background-color: #87cefa;
}

.sheet__main-header {
  height: 72px;
  min-width: 100%;
  background-color: rgb(55, 63, 104);
  border-radius: 10px;
  color: #ffffff;
}

.sheet__main-header {
  display: flex;
  justify-content: start;
  align-items: center;

  padding: 0px 16px 0px 24px;
}

.logo-suggestion {
  width: 23px;
  height: 24px;
}

.sheet__main-header-suggestion-number {
  margin: 0px 0px 0px 16px;

  font-size: 18px;
  font-weight: 700;
  line-height: 26px;

  padding: 0px 25px 0px 0px;
}

#suggestions-number {
  padding-right: 10px;
}

.sheet__add-feedback-button-container {
  margin-left: auto;
}

.sheet__add-feedback-button {
  background-color: rgb(173, 31, 234);
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  line-height: 22px;
  padding: 10.5px 25px;
  letter-spacing: 0.7px;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 255px;
  border-radius: 10px;
  margin-top: 38px;
  z-index: 4;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-btn {
  background-color: rgb(55, 63, 104);
  /* padding: 10px; */
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  border: none;
  opacity: 0.98;
}

.dropdown-content a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 24px;
  
  color: rgb(100, 113, 150);
  text-decoration: none;
  font-size: 16px;
  height: 48px;
}

.dropdown-content a:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dropdown-content a:not(:last-child) {
  border-bottom: solid rgb(0, 0, 0, 0.12) 1px;

}

/* .dropdown-content a:hover {
  background-color: lightgrey;
  color: green;
} */



.dropdown:before {
  content: "Sort by :";
  font-size: 15px;
  line-height: 22px;
  opacity: 0.9;
}

.icona-arrow {
  color: #ffffff;
  margin: 0px 5px;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.7px;
}

.dropdown-content a.dropdown-content--selected-sort::after {
  content: '';
  background: #f69ec4;
  height: 13px;
  width: 13px;
  background: url('../img/shared/icon-check.svg') 0 0/contain no-repeat;;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 825px;
}

@media screen and (max-width: 1200px) {
  .main-wrapper {
    width: 70%;
  }
}

@media (max-width:767px) { 
  .container {
    flex-direction: column;
  }
  .main-wrapper {
    width: 100%;
  }
}

.feedback-post {
  width: 100%;
  height: 147px;
  border-radius: 10px;
  background-color: #ffffff ;
}

.main__feedback-holder {
  margin: 20px 0px 0px 0px;
}

.feedback-post {
  padding: 24px 32px;

  display: flex;
  justify-content: start;
}

.vote-counter {
  width: 40px;
  height: 53px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  border-radius: 10px;
  background-color: rgb(241, 243, 254);
  color: rgb(55, 63, 104);
  padding: 9px 0px;

  font-size: 13px;
  font-weight: 700;
}

.feedback-post__icon-arrow {
  margin: 0px 0px 6px 0px;
}

.feedback-post__information {
  position: relative;
  width: 600px;
  height: 94px;

  margin: 0px 40px;
}

.feedback-post__title {
  color: rgb(58, 67, 115);
  font-size: 19px;
  font-weight: 700;
  line-height: 26px;

  margin: 0px 0px 4px 0px ;
}

.feedback-post__description {
  color: rgb(100, 113, 150);
  margin: 0px 0px 12px 0px;
}

.icon-comments {
  width: 18px;
  height: 16px;
  margin: 0px 8px 0px 0px;
}

.feedback-post__number-of-comments {
  display: flex;
  align-items: center;
  margin-left: auto;

  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
}

.feedback-post__category {
  position: absolute;
  bottom: 0px;

  padding: 5px 16px;
  border-radius: 10px;
  background: hsl(231, 100%, 97%);
  color: hsl(230, 76%, 59%);
  align-items: center;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  font-family: "Jost", sans-serif;

}

/* 
body {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
} */


#toggle-icon {
  display: none;
  cursor: pointer;
  margin: 8px 0px 0px 0px;
}
.bar1, .bar2, .bar3 {
  background-color: #3f51b5;
  width: 30px;
  height: 4px;
  transition: 0.5s;
  margin: 6px 0;
  border-radius: 5px;
}
.rotate-icon .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
  transform: rotate(-45deg) translate(-8px, 6px);
}
.rotate-icon .bar2 {
  opacity: 0;
}
.rotate-icon .bar3 {
  -webkit-transform: rotate(42deg) translate(-9px, -8px);
  transform: rotate(42deg) translate(-9px, -8px);
}



@media screen and (max-width: 1200px) {
  
  .sheet__navbar {
    width: 27%;
  }

  .sheet__navbar-element {
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 14px;
    padding: 20px 14px;
  }

  .sheet__logo-suggestion-container {
    display: none;
  }

  .sheet__main-header-suggestion-number {
    display: none;
  }
}

@media (max-width:767px) { 
  .sheet__navbar {
    position: fixed;
    width: 230px;
    height: 100vh;
    padding: 20px;
    background-color: rgb(207, 207, 207);
    /* width: 190px; */
    right: 0px;
    top: 70px;
    z-index: 4;
  }

  .logo {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 70px;
    border-radius: 0px;
    padding: 10px 20px;
  }

  .sheet__content {
    margin-top: 80px;
  }

  #toggle-icon {
    display: table;
  }
}